<!DOCTYPE html>
<html ng-app='grapevine'>
  <head>
    <title>Grapevine</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="peer.min.js"></script>
    <!-- <script src="grapevine.js"></script> -->
    <style type="text/css">
      table{
        border: thin solid red;
        /*border-collapse: collapse;*/
      }
      th{
        background-color: white;
      }
      tr{
        background-color: #DDD;
      }
      .connected{
        background-color: green; 
      }
      .disconnected{
        background-color: yellow;
      }
      .closed{
        background-color: red;
      }
    </style>
  </head>
  <body ng-view ng-controller="grapevineController as ctrl">
    <h1>Peer ID: {{ctrl.gv.id}}</h1>
    <table>
      <caption>Peers</caption>
      <tr>
        <th>id</th>
        <th>status</th>
      </tr>
      <tr ng-repeat="peer in ctrl.gv.peers">
        <td class="id">{{peer.id}}</td>
        <td class="status" ng-class="{connected:peer.status==='connected', disconnected:peer.status==='disconnected', closed:peer.status==='closed'}">{{peer.status}}</td>
      </tr>
      <tr>
        <td><input type="text" ng-model="ctrl.peerID"></td>
        <td><button ng-click="ctrl.gv.connect(ctrl.peerID)">connect to peer</button></td>
      </tr>
    </table>
    <table>
      <caption>Updates</caption>
      <tr>
        <th>timestamp</th>
        <th>source peer</th>
        <th>value</th>
      </tr>
      <tr ng-repeat="update in ctrl.gv.updates | orderBy:'-timestamp'">
        <td class="value">{{update.timestamp}}</td>
        <td class="value">{{update.peer}}</td>
        <td class="value">{{update.value}}</td>
      </tr>
      <tr>
        <td><input type="text" ng-model="ctrl.updateValue"><button ng-click="ctrl.gv.update(ctrl.updateValue)">send update</button></td>
      </tr>
    </table>
  </body>
</html>
