<!DOCTYPE html>
<html ng-app='grapevine'>
  <head>
    <title>Grapevine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="igg-peer.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-view ng-controller="grapevineController as ctrl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Total Contributions: $<span>{{ctrl.gv.total}}</span></h1>
          <form>
            <div class="form-group">
              <label for="contribution">Amount: </label>
              <input type="number" name="amount" id="contribution">
              <button type="submit" class="btn btn-default">Make contribution!</button>
            </div>
          </form>
          <div class="col-md-6">
            <h3 class="text-center">Parents</h3>
            <ul ng-repeat="peer in ctrl.gv.parents">
              <li class="id">
                {{peer.id}} |
                <span class="status" ng-class="{connected:peer.status==='connected', disconnected:peer.status==='disconnected', closed:peer.status==='closed'}">{{peer.status}}</span>
              </li>
            </ul>
            <h3 class="text-center">Children</h3>
            <ul ng-repeat="peer in ctrl.gv.children">
              <li class="id">
                {{peer.id}} |
                <span class="status" ng-class="{connected:peer.status==='connected', disconnected:peer.status==='disconnected', closed:peer.status==='closed'}">{{peer.status}}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3 class="text-center">Message Log</h3>
            <ul ng-repeat="message in ctrl.gv.messages">
              <li>[{{message.time}}][FROM: {{message.sender}}]{{message.content}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="control-panel bottom-left text-center">
      <h2 ng-class="{connected:ctrl.gv.peerStatus()==='connected', disconnected:ctrl.gv.peerStatus()==='disconnected', closed:ctrl.gv.peerStatus()==='closed'}">Peer ID: {{ctrl.gv.id}}</h2>
      <button ng-click="ctrl.gv.discon()">disconnect from server</button>
    </div>

    <!-- <table>
      <caption>Messages</caption>
      <tr>
        <th>timestamp</th>
        <th>source peer</th>
        <th>data</th>
      </tr>
      <tr ng-repeat="message in ctrl.gv.messages | orderBy:'-timestamp'">
        <td class="value">{{message.timestamp}}</td>
        <td class="value">{{message.peer}}</td>
        <td class="value">{{message.data}}</td>
      </tr>
      <tr>
        <td><input type="text" ng-model="ctrl.dataToAll"><button ng-click="ctrl.gv.sendToAllConnections({timestamp:null, peer:ctrl.gv.id, data:ctrl.dataToAll})">send message</button></td>
      </tr>
    </table> -->
  </body>
</html>
