`<!DOCTYPE html>
<html ng-app='grapevine'>
  <head>
    <title>Grapevine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="igg-peer.js"></script>
    <script src="app.js"></script>
    <script src="underscore.js"></script>
  </head>

  <body ng-view ng-controller="grapevineController as ctrl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <button ng-click="ctrl.gv.discon()">disconnect from server</button>
          <h2 ng-class="{connected:ctrl.gv.peerStatus()==='connected', disconnected:ctrl.gv.peerStatus()==='disconnected', closed:ctrl.gv.peerStatus()==='closed'}">Peer ID: {{ctrl.gv.id}}</h2>
          <h1>Total Contributions: $<span>{{ctrl.gv.total}}</span></h1>
          <form>
            <div class="form-group">
              <label for="contribution">Amount: </label>
              <input type="number" name="amount" id="contribution">
              <button type="submit" class="btn btn-default">Make contribution!</button>
            </div>
          </form>
          <div class="col-md-6">
            <h3 class="text-center">Parents</h3>
            <ul>
              <li class="id" ng-repeat="peer in ctrl.gv.parents">
                {{peer.id}} |
                <span class="status" ng-class="{connected:peer.status==='connected', disconnected:peer.status==='disconnected', closed:peer.status==='closed'}">{{peer.status}}</span>
              </li>
            </ul>
            <h3 class="text-center">Children</h3>
            <ul>
              <li class="id" ng-repeat="peer in ctrl.gv.children">
                {{peer.id}} |
                <span class="status" ng-class="{connected:peer.status==='connected', disconnected:peer.status==='disconnected', closed:peer.status==='closed'}">{{peer.status}}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3 class="text-center">Message Log</h3>
            <ul id="messages">
              <li ng-repeat="message in ctrl.gv.messages">[{{message.time}}][FROM: {{message.sender}}]{{message.content}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
